@import "variables";
@import "fonts";
@import "mixins";

$green :#a8d741;

body {
   margin: 0px;
   padding: 0px;
 }
.box{
 @include box( $bg-color:green);
}
.box-2 {
  @include box($bg-color:black);
}
.box-3{
  @include box($bg-color:brown);
}